.contact_main-wrapper {
    display: flex;
    height: 1050px;
}

.contact_main_right {
    padding: 60px;
    width: 40%;
}

.contact_header_right::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    margin-top: 20px;
    background: #747474;
    margin-bottom: 30px;
}

.contact_main_right h1 {
    font-size: 30px;
    font-weight: 700;
}

.contact {
    margin-top: 150px;
}

.contact_map {
    width: 50%;
    border-right: 1px solid #ededed;
}

strong {
    font-weight: 700;
    color: #5c5c5c;
}

.contact_form_name {
    margin-top: 40px;
}

.contact_form_name input {
    width: 100%;
    border: 1px solid #ededed;
    padding: 15px;
}

.contact_address_tel {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.contact_address_tel input {
    padding: 15px;
    width: 47%;
    border: 1px solid #ededed;
}

.contact_form_content {
    margin-top: 40px;
}

.contact_form_content textarea {
    width: 100%;
    border: 1px solid #ededed;
    padding-top: 10px;
    padding-left: 16px;
}

.contact_protect {
    font-weight: 400;
    color: #bababa;
}

.btn-15 {
    background: #323232;
    border: none;
    z-index: 1;
    position: relative;
    color: #fff;
    padding: 10px 28px;
}

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #fff;
    transition: all 0.5s ease;
    color: #323232;
}

.btn-15:hover {
    color: #666;
    border: 1px solid #666;
}

.btn-15:hover:after {
    left: 0;
    width: 100%;
}

.btn-15:active {
    top: 2px;
}