.perfume {
    margin-top: 125px;
}

.prefume_menu_list {
    flex: 0 0 25%;
    margin-top: 30px;
    padding-right: 15px;
}

.prefume_product {
    display: flex;
    width: 100%;
}

.prefume_menu_list ul {
    list-style-type: none;
}

.prefume_menu_list ul li a {
    color: #5c5c5c;
    text-decoration: none;
}

.prefume_menu_list li {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.4rem;
    font-weight: 500;
}

.prefume_menu_list li:not(:last-child) {
    border-bottom: 1px dashed #ccc;
}

.product_list_featured {
    flex: 0 0 75%;
    margin-left: 20px;
}

.product_list_featured h1 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    color: var(--title-color);
}

.introduce_main-wrap {
    padding: 20px 0;
}

.prefum_layered {
    margin-top: 30px;
}

.perfumr_layered_subtitle {
    font-size: 13px;
    font-weight: 600;
    color: #5c5c5c;
    padding: 10px 0 10px;
}

.icon-control {
    position: relative;
    font-size: 8px;
    top: -2px;
    left: 5px;
}

.perfume_layered_content ul li {
    border-bottom: 0;
}

.product_item_perfume {
    /* width: 33.33333333%; */
    /* max-width: 100%; */
    margin-bottom: 20px;
    padding: 0 10px;
}

@media (min-width: 992px) {
    .product_item_perfume {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
}

.pagination {
    text-align: end;
    /* margin: 20px 0 30px 0; */
    margin: 0 0 30px 0;
}

.page {
    font-weight: 700;
    font-size: 1.6rem;
    padding: 7px 15px;
    transition: all .25s ease;
    cursor: pointer;
    text-decoration: none;
}

.page:hover {
    background-color: var(--title-color);
    color: var(--white-color);
}

.pagination_title {
    font-weight: 700;
    margin-right: 10px;
}