@media (max-width: 992px) {
    .header_banner-block .header_banner-img {
        height: calc(var(--window-height) - var(--topbar-height) - 10vh);
    }
}

@media (max-width: 767px) {
    .container.section_heading {
        margin-bottom: 5px;
    }
    .container h1 {
        font-size: 1.5em;
    }
    .container.tab_product {
        position: relative;
        overflow: hidden;
        margin: 0 -15px;
    }
    .container.product_list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    ul.tab_product li a {
        font-size: 18px;
    }
    .container .product_collection.home-box-item {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .gift_wrap {
        display: flex;
        flex-direction: column
    }
    .gift_item {
        width: 100%;
    }
    .product_item,
    .product_collection-main {
        margin-left: 28px;
    }
    .product_collection-item {
        display: block;
        width: 100%;
    }
    .product_new {
        width: 100%;
        padding: 0;
        margin-bottom: 90px;
    }
}

@media (max-width: 768px) {
    .product_posts-item {
        width: 33.33333333%;
    }
    .product_posts-item a {
        text-decoration: none;
    }
    .product_posts-heading {
        text-decoration: none;
        font-weight: 300;
        color: var(--title-color);
        font-size: 0.1rem;
        transition: all ease .3s;
    }
    .policy_main {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
    }
    .policy_item {
        width: 33.33333333%;
        padding: 10px 0;
        color: var(--white-color);
        background-color: transparent;
        border: 1px solid var(--white-color);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 10px;
    }
    .policy_item-img {
        width: 30px;
        height: 30px;
    }
    .policy_item-title {
        font-size: 0.8rem;
    }
    .product_new-right {
        width: 38%;
        display: block;
        text-decoration: none;
        padding-left: 30px;
    }
}

@media only screen and (min-width: 992px) {
    .header_logo {
        margin: auto;
    }
}

@media (max-width: 768px) {
    .footer_item-title {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 1.1rem;
    }
    .footer_info-item {
        margin-bottom: 0px;
        line-height: 2.2rem;
        font-size: 0.8rem;
    }
    .footer_fanpage {
        width: 75%;
    }
    .footer_info-item img {
        width: 70px;
    }
    .footer_offical {
        margin-left: 20px;
    }
    .footer_contact {
        margin-right: 0;
    }
}