/* HEADER */

.account {
    position: relative;
}

.account::after {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    width: 180px;
    height: 15px;
    opacity: 0;
}

.account:hover .page-logout {
    display: block;
}

.page-logout {
    position: absolute;
    right: 0;
    top: 40px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    padding: 8px 0;
    font-size: 1.4rem;
    display: none;
    background-color: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 999999999;
    font-weight: 700;
    color: rgb(255, 70, 70);
}

.page-logout::before {
    content: "";
    position: absolute;
    top: -24px;
    right: 12px;
    border-style: solid;
    border-width: 12px 14px;
    border-color: transparent transparent #eeeeee transparent;
    z-index: 99999999;
}

.header_box-action span {
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .2s ease;
    font-weight: 700;
}


.header_box-action:hover span {
    color: #20E3B2;
}

.header_top {
    height: 48px;
    width: 100%;
    background-color: #000;
    color: var(--white-color);
}

.header_top-block {
    position: relative;
}

.header_top-text {
    line-height: 4.8rem;
    font-size: 1.6rem;
    text-align: center;
}

.header_banner {
    position: relative;
    top: 0;
    width: 100%;
}

.slider_wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider_main {
    transition: transform 0.25s linear;
    display: flex;
    position: relative;
}

.header_banner-block {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    user-select: none;
}

.header_banner-img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.header_top-box {
    position: absolute;
    padding-top: 18px;
    width: 100%;
    background-color: transparent;
    color: #000;
    transition: all ease-in-out .3s;
    z-index: 2;
}

.header_top-box:hover {
    background-color: var(--white-color);
    color: var(--title-color);
}



.header_top-box:hover .header_action-item,
.header_top-box:hover .header_menu-item a,
.header_top-box:hover .header_menu-item i {
    color: var(--title-color);
}

.header_top-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.header_box-item {
    width: 33.33333333%;
}

.header_box-item:nth-child(3) {
    display: flex;
    justify-content: end;
}

.header_box-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_box-action {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 20px;
}

.header_action-item {
    text-decoration: none;
    color: #000;
    font-size: 2.4rem;
}


.header_box-item--12 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header_menu {
    display: flex;
    gap: 5px;
    align-items: center;
    list-style: none;
}

.header_menu-item {
    position: relative;
    margin: 0 8px;
    display: flex;
    align-items: center;
}

.header_menu-item:hover>a::after {
    width: 100% !important;
}

.header_menu-item:hover .header_submenu {
    opacity: 1;
    top: 96%;
    visibility: visible;
}

.header_menu-item>a {
    text-transform: uppercase;
}

.header_menu-item a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    padding: 15px 0;
}

.header_menu-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #000;
    transition: all linear .25s;
}

.header_menu-item i {
    font-size: 1rem;
    margin-left: 4px;
    display: block;
    padding-bottom: 12px;
    margin-top: 15px;
}

.header_submenu {
    position: absolute;
    top: 250px;
    left: 0;
    list-style: none;
    background-color: var(--white-color);
    border-top: 2px solid #000;
    width: 170px;
    transition: all .25s ease-in-out;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}

.header_submenu-item:not(:first-child) {
    border-top: 1px solid #ecf0f1;
}

.header_submenu-item>a {
    color: var(--title-color);
    font-weight: 400;
    font-size: 1.4rem;
    display: block;
    line-height: 1.8rem;
    text-align: left;
    padding: 9px 18px;
    margin: 4px 0;
}

.header_submenu-item:hover>a {
    transform: translateX(5px);
    transition: all ease .3s;
    color: #000 !important;
    font-weight: 500;
}

/* navbar */
.navbar {
    display: none;
}

.over-lay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1999;
    animation: fadeIn ease-in-out .3s forwards;
    display: none;
}

.over-lay.isActiveOverlay {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.navbar_menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 50px;
    background-color: var(--white-color);
    color: var(--text-color);
    max-width: 400px;
    width: 100%;
    z-index: 9999;
    opacity: 0;
    transform: translateX(100%);
    transition: all ease-in-out .3s;
}

.navbar_menu.isActiveNavbar {
    transform: translateX(0);
    opacity: 1;
}


.navbar_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.navbar_head-title {
    font-size: 1.6rem;
    font-weight: 500;
}

.navbar_head-close {
    font-size: 2.2rem;
    color: var(--primary-color);
    cursor: pointer;
}

.navbar_menu-main {
    list-style-type: none;
}

.navbar_menu-item {
    transition: all .25s linear;
    color: var(--title-color);
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.navbar_menu-item:hover {
    color: #000;
}

.navbar_menu-item a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.navbar_menu-item i {
    cursor: pointer;
}

.navbar_login {
    margin-top: 50px;
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 20px;
    color: var(--title-color);
    font-size: 1.8rem;
    transition: all linear .25s;
}

.navbar_login:hover {
    color: #000;
}

.navbar_login span {
    font-weight: 600;
}

/* header-fixed */
.is-fixed {
    top: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.header-fixed {
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    top: -100px;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}

.header_top-wrap-fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_box-action-fixed {
    margin-bottom: 15px;
}

.header-fixed-link {
    line-height: 4rem;
}


/* MAIN */

main {
    position: relative;
}

.btn_scroll-downs {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 4;
    background-color: var(--white-color);
    text-decoration: none;
    color: var(--title-color);
}

.tab_product {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.tab_product-item {
    margin: 0 14px;
}

.tab_product-item a {
    text-decoration: none;
    padding: 5px 0;
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 700;
    color: var(--tab-color);
    transition: all .25s ease;
}

.tab_product-item a:hover {
    color: var(--black-color);
}


/* product */

.product_list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

.product_list_perfume {
    margin-top: 30px;
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}



.product_item {
    width: 25%;
    max-width: 100%;
    margin-bottom: 20px;
}

.product_item_perfume {
    width: 33.33%;
    max-width: 100%;
    margin-bottom: 20px;
}

.product_img-box {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 295px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.product_img-box:hover .product_img-2 {
    opacity: 1;
}

.product_img-box::before {
    content: "-10%";
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 6px 12px;
    color: var(--white-color);
    background-color: var(--red-color);
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
    z-index: 1;
}

.sale30-important::before {
    content: "-30%" !important;
}

.product_img-box::after {
    content: "XEM CHI TIẾT";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: var(--white-color);
    height: 0px;
    text-align: center;
    font-size: 1.1rem;
    transition: all ease-in .3s;
    opacity: 0;
    line-height: 3rem;
}

.product_img-box:hover::after {
    opacity: 1;
    height: 30px;
    font-size: 1.1rem;
}

.product_img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .3s ease-in;
}

.product_img-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.product_title {
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    color: var(--title-color);
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
    font-weight: 500;
    transition: all linear .25s;
}

.product_title:hover {
    color: var(--black-color);
}

.product_price-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.product_price-origin {
    color: var(--red-color);
    font-weight: 700;
}

.product_price-old {
    text-decoration: line-through;
    font-size: 1.3rem;
}


/* collection */

.product_collection {
    margin-bottom: 20px;
}

.product_collection-main {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
}

.product_collection-item {
    max-width: 300px;
}

.collection_img-box {
    width: 100%;
    /* height: 300px; */
}

.collection_img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.collection_heading {
    color: var(--title-color);
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin: 26px 0 13px 0;
    font-size: 2.2rem;
}

.collection_desc {
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
    margin: 0 auto;
    line-height: 2rem;
}

.collection_view-more {
    text-align: center;
}

.collection_view-more .collection_btn {
    padding: 15px 30px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    margin: 20px 0 0 !important;
}


/* gift */

.gift_wrap {
    padding: 0 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gift_item {
    position: relative;
    /* width: 33.33333333%; */
    display: block;
    color: var(--white-color);
    overflow: hidden;
    margin: 0 15px;
}

.gift_item::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all linear .3s;
}

.gift_item:hover::after {
    content: '';
    opacity: 1;
}

.gift_item img {
    transition: all ease-in-out 3s;
}

.gift_item:hover img {
    transform: scale(1.2);
}

.gift_img {
    object-fit: cover;
    max-width: 100%;
    object-position: center;
}

.gift_info {
    position: absolute;
    top: 65%;
    left: 25px;
    z-index: 1;
}

.gift_title {
    font-size: 1.5rem;
    color: var(--white-color);
    font-weight: 500;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.gift_heading {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 25px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.gift_info p {
    display: block;
    color: #fff;
    font-size: 15px;
    margin: 0 0 5px;
    font-weight: 500;
}

.gift_info .button {
    color: var(--primary-color);
    border-color: var(--white-color);
}

.gift_info .button:hover {
    color: var(--white-color)
}

.gift_info .button::before {
    background-color: var(--white-color);
}


/* product new */

.product_new {
    width: 100%;
    padding: 0 160px;
    margin-bottom: 90px;
}

.product_new-wrap {
    width: 100%;
    display: flex;
    align-items: center;
}

.product_new-left {
    width: 62%;
    display: block;
}

.product_new-img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.product_new-right {
    width: 38%;
    display: block;
    text-decoration: none;
    padding-left: 80px;
}

.product_new-right .button {
    width: 100%;
    padding: 10px 5px;
    margin-top: 20px;
}


/* product posts */

.product_posts {
    border-top: 1px solid #e0e0e0
}

.product_posts-wrap {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.product_posts-item {
    width: 33.33333333%;
}

.product_posts-item a {
    text-decoration: none;
}

.product_posts-img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
}

.product_posts-date {
    margin: 12px 0 8px 0;
    font-size: 1.3rem;
}

.product_posts-heading {
    text-decoration: none;
    font-weight: 500;
    color: var(--title-color);
    font-size: 1.9rem;
    transition: all ease .3s;
}

.product_posts-heading:hover {
    color: #000;
}

.product_posts-desc {
    color: var(--title-color);
    line-height: 2.1rem;
    margin: 12px 0 10px 0;
}


/* policy */

.policy {
    background-color: var(--black-color);
    padding: 30px 0;
    margin: 65px 0;
}

.policy_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.policy_item {
    width: 33.33333333%;
    padding: 40px 0;
    color: var(--white-color);
    background-color: transparent;
    border: 1px solid var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 10px;
}

.policy_item-img {
    width: 48px;
    height: 48px;
}

.policy_item-title {
    font-size: 1.8rem;
}

footer {
    background-color: var(--black-color);
    padding: 25px 0;
    color: #e9ecef;
}

.footer_main {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    overflow: hidden;
    align-items: start;
}

.footer_item {
    margin-bottom: 20px;
    /* width: 25%; */
    flex: 1;
}

.footer_item-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.3px;
}

.footer_info-list {
    list-style: none;
}

.footer_info-item {
    margin-bottom: 8px;
    line-height: 2.2rem;
}

.footer_info-item img {
    width: 150px;
}

.footer_fanpage {
    width: 290px;
}

.footer_item:first-child,
.footer_item:nth-child(3) {
    flex: 2;
}

.footer_author {
    border-top: 1px dashed #e9ecef;
    padding-top: 25px;
}

.footer_author p {
    text-align: center;
}

.header__bars-menu {
    display: none;
}