/* HEADER */
.header_top {
    height: 48px;
    width: 100%;
    background-color: #000;
    color: var(--white-color);
}

.header_top-block {
    position: relative;
}

.header_top-text {
    line-height: 4.8rem;
    font-size: 1.6rem;
    text-align: center;
}

.header_banner-block {
    width: 100%;
}

.header_banner-img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.header_top-box {
    position: absolute;
    padding-top: 18px;
    width: 100%;
    background-color: transparent;
    color: #000;
    transition: all ease-in-out .3s;
}

.header_top-box:hover {
    background-color: var(--white-color);
    color: var(--title-color);
}

.header_top-box:hover .header_action-item,
.header_top-box:hover .header_menu-item a,
.header_top-box:hover .header_menu-item i {
    color: var(--title-color);
}

.header_top-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.header_box-item {
    width: 33.33333333%;
}

.header_box-item:nth-child(3) {
    display: flex;
    justify-content: end;
}

.header_box-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_box-action {
    display: flex;
    gap: 18px;
    font-size: 20px;
}

.header_action-item {
    text-decoration: none;
    color: #000;
}

.header_box-item--12 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header_menu {
    display: flex;
    gap: 5px;
    align-items: center;
    list-style: none;
}

.header_menu-item {
    position: relative;
    margin: 0 8px;
    display: block;
}

.header_menu-item:hover>a::after {
    width: 100% !important;
}

.header_menu-item:hover .header_submenu {
    opacity: 1;
    top: 97.5%;
    visibility: visible;
}

.header_menu-item a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    line-height: 6rem;
    display: inline-block;
}

.header_menu-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #000;
    transition: all linear .25s;
}

.header_menu-item i {
    font-size: 1rem;
    margin-left: 4px;
}

.header_submenu {
    position: absolute;
    top: 250px;
    left: 0;
    list-style: none;
    background-color: var(--white-color);
    border-top: 2px solid #000;
    width: 170px;
    transition: all .25s ease-in-out;
    opacity: 0;
    z-index: 2;
    visibility: hidden;
}

.header_submenu-item:not(:first-child) {
    border-top: 1px solid #ecf0f1;
}

.header_submenu-item>a {
    color: var(--title-color);
    font-weight: 400;
    font-size: 1.4rem;
    display: block;
    line-height: 1.8rem;
    text-align: left;
    padding: 9px 18px;
}

/* MAIN */
.tab_product {
    display: block;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.tab_product-item {
    margin: 0 14px;
}

.tab_product-item a {
    text-decoration: none;
    padding: 5px 0;
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 700;
    color: var(--tab-color);
    transition: all .25s ease;
}

.tab_product-item a:hover {
    color: var(--black-color);
}

/* product */
.product_list {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.product_item {
    max-width: 295px;
    margin-bottom: 20px;
}

.product_img-box {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 295px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.product_img-box:hover .product_img-2 {
    opacity: 1;
}

.product_img-box::before {
    content: "-10%";
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 6px 12px;
    color: var(--white-color);
    background-color: var(--red-color);
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
    z-index: 2;
}

.product_img-box::after {
    content: "XEM CHI TIẾT";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: var(--white-color);
    height: 0px;
    text-align: center;
    font-size: 1.1rem;
    transition: all ease-in .3s;
    opacity: 0;
    line-height: 3rem;
}

.product_img-box:hover::after {
    opacity: 1;
    height: 30px;
    font-size: 1.1rem;
}

.product_img-box img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .3s ease-in;
}

.product_img-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.product_title {
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    color: var(--title-color);
    white-space: normal;
    font-weight: 500;
    transition: all linear .25s;
}

.product_title:hover {
    color: var(--black-color);
}

.product_price-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.product_price-origin {
    color: var(--red-color);
    font-weight: 700;
}

.product_price-old {
    text-decoration: line-through;
    font-size: 1.3rem;
}